*{
	margin: 0;
	padding: 0;
	
}

body{
	width: 100%;
	background: #0c111b;
	position: relative;
	font-family: roboto, sans-serif;
}
.btn-registo{
	background-color: #0c111b;
}
input{
	background-color: black;
}